<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDamEUaMiBWSXpfiFT4Mj1qV5Elad2kUJA</string>
	<key>GCM_SENDER_ID</key>
	<string>760336719680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atzmi.Nexo</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-b53ca</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-b53ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760336719680:ios:6676de1b757e899539e4a5</string>
</dict>
</plist>